[general]
output = "gOre_pion_veto"

[parameters]
gOre_threshold = 10 # MeV
muon_threshold = 25 # MeV
pion_threshold = 25 # MeV
proton_threshold = 50 # MeV

[[category]] # 0: contained, fiducial, single photon
cuts = [
  { name = "neutrino"                                                 },
  { name = "containment_cut"                                          },
  { name = "fiducial_cut"                                             },
  { name = "single_photon",        parameters = [ "@gOre_threshold" ] },
  { name = "no_electrons",         parameters = [ "@gOre_threshold" ] },
  { name = "no_muons",             parameters = [ "@muon_threshold" ] },
  { name = "no_charged_pions",     parameters = [ "@pion_threshold" ] },
]

[[category]] # 1: single photon
cuts = [
  { name = "neutrino"                                                 },
  { name = "single_photon",        parameters = [ "@gOre_threshold" ] },
  { name = "no_electrons",         parameters = [ "@gOre_threshold" ] },
  { name = "no_muons",             parameters = [ "@muon_threshold" ] },
  { name = "no_charged_pions",     parameters = [ "@pion_threshold" ] },
]

[[category]] # 2: contained, fiducial, single electron
cuts = [
  { name = "neutrino"                                                 },
  { name = "containment_cut"                                          },
  { name = "fiducial_cut"                                             },
  { name = "single_electron",      parameters = [ "@gOre_threshold" ] },
  { name = "no_photons",           parameters = [ "@gOre_threshold" ] },
  { name = "no_muons",             parameters = [ "@muon_threshold" ] },
  { name = "no_charged_pions",     parameters = [ "@pion_threshold" ] },
]

[[category]] # 3: single electron
cuts = [
  { name = "neutrino"                                                 },
  { name = "single_electron",      parameters = [ "@gOre_threshold" ] },
  { name = "no_photons",           parameters = [ "@gOre_threshold" ] },
  { name = "no_muons",             parameters = [ "@muon_threshold" ] },
  { name = "no_charged_pions",     parameters = [ "@pion_threshold" ] },
]

[[category]] # 4: contained, fiducial, dual photon
cuts = [
  { name = "neutrino"                                                 },
  { name = "containment_cut"                                          },
  { name = "fiducial_cut"                                             },
  { name = "dual_photon",          parameters = [ "@gOre_threshold" ] },
  { name = "no_electrons",         parameters = [ "@gOre_threshold" ] },
  { name = "no_muons",             parameters = [ "@muon_threshold" ] },
  { name = "no_charged_pions",     parameters = [ "@pion_threshold" ] },
]

[[category]] # 5: dual photon
cuts = [
  { name = "neutrino"                                                 },
  { name = "dual_photon",          parameters = [ "@gOre_threshold" ] },
  { name = "no_electrons",         parameters = [ "@gOre_threshold" ] },
  { name = "no_muons",             parameters = [ "@muon_threshold" ] },
  { name = "no_charged_pions",     parameters = [ "@pion_threshold" ] },
]

[[category]] # 6: NC
cuts = [
  { name = "neutrino" },
  { name = "!iscc"    },
]

[[category]] # 7: CC
cuts = [
  { name = "neutrino" },
  { name = "iscc"     },
]

[[category]] # 8: cosmic
cuts = [
  { name = "!neutrino" },
]

[[sample]]
name = "simulation"
path = "/pnfs/icarus/persistent/users/mueller/production/simulation/cvext/*.flat.root"
#path = "/pnfs/icarus/persistent/users/mueller/production/simulation/nominal/*.flat.root"
ismc = true

[[tree]] # no veto, reco
name = "selected_reco"
sim_only = false
mode = "reco"
cut = [
    { name = "fiducial_cut",     type = "reco"                                     },
    { name = "containment_cut",  type = "reco"                                     },
    { name = "valid_flashmatch", type = "reco"                                     },
    { name = "single_photon",    type = "reco", parameters = [ "@gOre_threshold" ] },
    { name = "no_electrons",     type = "reco", parameters = [ "@gOre_threshold" ] },
    { name = "no_muons",         type = "reco", parameters = [ "@muon_threshold" ] },
    { name = "no_charged_pions", type = "reco", parameters = [ "@pion_threshold" ] },
]
branch = [
  { name = "mc_category", type = "mctruth" },
]

[[tree]] # no veto, event
name = "selected_event"
sim_only = false
mode = "event"
cut = [
    { name = "has_selected_gOre", type = "event", parameters = [ "@gOre_threshold", "@muon_threshold", "@pion_threshold" ]},
]
branch = [
  { name = "nreco",                type = "event"                              },
  { name = "pion_mass_veto",       type = "event", parameters = [ 0.1, 100.0 ] },
  { name = "n_photon_dlp",         type = "event"                              },
  { name = "photons_closest_dist", type = "event"                              },
  { name = "split_pion_mass",      type = "event"                              },
  { name = "n_mc_category_0",      type = "event"                              },
  { name = "n_mc_category_1",      type = "event"                              },
  { name = "n_mc_category_2",      type = "event"                              },
  { name = "n_mc_category_3",      type = "event"                              },
  { name = "n_mc_category_4",      type = "event"                              },
  { name = "n_mc_category_5",      type = "event"                              },
  { name = "n_mc_category_6",      type = "event"                              },
]