[general]
output = "gOre_debug"

[parameters]
gOre_threshold = 10 # MeV
muon_threshold = 25 # MeV
pion_threshold = 25 # MeV
proton_threshold = 50 # MeV
flash_low_t = -0.5 # µs
flash_high_t = 1.6 # µs
fiducial_xdist_pos = 50 # cm
fiducial_xdist_neg = 50 # cm
fiducial_ydist_pos = 50 # cm
fiducial_ydist_neg = 50 # cm
fiducial_zdist_pos = 50 # cm
fiducial_zdist_neg = 50 # cm
pion_mass_threshold = 0.4 # fraction of π0 mass
photon_vertex_resolution = 100 # cm

[[category]] # neutrino
cuts = [
  { name = "neutrino" },
]

[[category]] # cosmic
cuts = [
  { name = "!neutrino" }
]

[[sample]]
name = "simulation"
path = "/pnfs/icarus/persistent/users/mueller/production/simulation/nominal/*.flat.root"
ismc = true

[[tree]] # selection (1γXp) w/ veto
name = "selected_veto"
sim_only = false
mode = "reco"
cut = [
    { name = "pion_mass_veto",    type = "event", decrements_exposure = false, parameters = [ "@pion_mass_threshold",
                                                                                              "@photon_vertex_resolution",
                                                                                              "@gOre_threshold",
                                                                                              "@muon_threshold",
                                                                                              "@pion_threshold"           ]},
    { name = "fiducial_cut",      type = "reco"                                     },
    { name = "containment_cut",   type = "reco"                                     },
    { name = "valid_flashmatch",  type = "reco"                                     },
    { name = "single_gOre",       type = "reco", parameters = [ "@gOre_threshold" ] },
    { name = "no_muons",          type = "reco", parameters = [ "@muon_threshold" ] },
    { name = "no_charged_pions",  type = "reco", parameters = [ "@pion_threshold" ] },
]
branch = [
    # MC Truth
    { name = "baseline",                 type = "mctruth" },
    { name = "cc",                       type = "mctruth" },
    { name = "pdg",                      type = "mctruth" },
    { name = "interaction_mode",         type = "mctruth" },
    { name = "interaction_type",         type = "mctruth" },
    { name = "neutrino_energy",          type = "mctruth" },
    { name = "baryon_res_code",          type = "mctruth" },
    { name = "mc_category",              type = "mctruth" },
    # True
    { name = "category",                 type = "true"    },
    { name = "gOre_category",            type = "true"    },
    { name = "neutrino_id",              type = "true"    },
    { name = "visible_energy",           type = "true"    },
    { name = "gOre_ancestor",            type = "true"    },
    # Reco
    { name = "is_gOre",                  type = "reco"    },
    { name = "fiducial",                 type = "reco"    },
    { name = "containment",              type = "reco"    },
    { name = "flash",                    type = "reco"    },
    { name = "flash_time",               type = "reco"    },
    { name = "flash_total_pe",           type = "reco"    },
    { name = "gOre_axial_spread",        type = "reco"    },
    { name = "gOre_directional_spread",  type = "reco"    },
    { name = "gOre_start_dedx",          type = "reco"    },
    { name = "gOre_straightness",        type = "reco"    },
    { name = "gOre_score",               type = "reco"    },
    { name = "n_gOre_showers",           type = "reco"    },
    # Both (True & Reco)
    { name = "n_protons",                type = "both"    },
    { name = "gOre_ke",                  type = "both"    },
    { name = "subleading_gOre_ke",       type = "both"    },
    { name = "min_muon_ke",              type = "both"    },
    { name = "min_pion_ke",              type = "both"    },
    { name = "gOre_dpT",                 type = "both"    },
    { name = "gOre_gap",                 type = "both"    },
    { name = "gOre_polar_angle",         type = "both"    },
    { name = "gOre_azimuthal_angle",     type = "both"    },
    { name = "vertex_x",                 type = "both"    },
    { name = "vertex_y",                 type = "both"    },
    { name = "vertex_z",                 type = "both"    },
    { name = "xy_wall_dist",             type = "both"    },
    { name = "z_wall_dist",              type = "both"    },
    { name = "total_gOre_KE",            type = "both"    },
    { name = "pion_mass",                type = "both"    },
    # Leading gOre
    #{ name = "end_x",                    type = "both_particle", selector = "leading_gOre" },
    #{ name = "end_y",                    type = "both_particle", selector = "leading_gOre" },
    #{ name = "end_z",                    type = "both_particle", selector = "leading_gOre" },
    #{ name = "ke",                       type = "both_particle", selector = "leading_gOre" },
    #{ name = "length",                   type = "both_particle", selector = "leading_gOre" },
    #{ name = "dpT",                      type = "both_particle", selector = "leading_gOre" },
    #{ name = "polar_angle",              type = "both_particle", selector = "leading_gOre" },
    #{ name = "azimuthal_angle",          type = "both_particle", selector = "leading_gOre" },
    #{ name = "primary_softmax",          type = "reco_particle", selector = "leading_gOre" },
    #{ name = "secondary_softmax",        type = "reco_particle", selector = "leading_gOre" },
    #{ name = "photon_softmax",           type = "reco_particle", selector = "leading_gOre" },
    #{ name = "electron_softmax",         type = "reco_particle", selector = "leading_gOre" },
    #{ name = "muon_softmax",             type = "reco_particle", selector = "leading_gOre" },
    #{ name = "pion_softmax",             type = "reco_particle", selector = "leading_gOre" },
    #{ name = "proton_softmax",           type = "reco_particle", selector = "leading_gOre" },
    #{ name = "mip_softmax",              type = "reco_particle", selector = "leading_gOre" },
    #{ name = "hadron_softmax",           type = "reco_particle", selector = "leading_gOre" },
    # Subleading gOre
    #{ name = "end_x",                    type = "both_particle", selector = "subleading_gOre" },
    #{ name = "end_y",                    type = "both_particle", selector = "subleading_gOre" },
    #{ name = "end_z",                    type = "both_particle", selector = "subleading_gOre" },
    #{ name = "ke",                       type = "both_particle", selector = "subleading_gOre" },
    #{ name = "length",                   type = "both_particle", selector = "subleading_gOre" },
    #{ name = "dpT",                      type = "both_particle", selector = "subleading_gOre" },
    #{ name = "polar_angle",              type = "both_particle", selector = "subleading_gOre" },
    #{ name = "azimuthal_angle",          type = "both_particle", selector = "subleading_gOre" },
    #{ name = "primary_softmax",          type = "reco_particle", selector = "subleading_gOre" },
    #{ name = "secondary_softmax",        type = "reco_particle", selector = "subleading_gOre" },
    #{ name = "photon_softmax",           type = "reco_particle", selector = "subleading_gOre" },
    #{ name = "electron_softmax",         type = "reco_particle", selector = "subleading_gOre" },
    #{ name = "muon_softmax",             type = "reco_particle", selector = "subleading_gOre" },
    #{ name = "pion_softmax",             type = "reco_particle", selector = "subleading_gOre" },
    #{ name = "proton_softmax",           type = "reco_particle", selector = "subleading_gOre" },
    #{ name = "mip_softmax",              type = "reco_particle", selector = "subleading_gOre" },
    #{ name = "hadron_softmax",           type = "reco_particle", selector = "subleading_gOre" },
]